.rthree {
  box-shadow: 0 0 15px 1px rgb(255, 200, 72);
  padding: 30px;
  margin-bottom: 50px; height: auto;
  width: 100%;
  max-width: 700px;
}

#rthreeRecipe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px black;
  max-width: 100%;
  width: 75rem;
  max-height: 80vh;
  overflow-y: auto;
}

.rthreeHeader {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rthreeHeader span {
  cursor: pointer;
  font-size: 24px;
  color: red;
}

.rthreeDesc {
  white-space: pre-wrap;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: justify;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.rthreeDesc img {
  width: 70%;
  max-width: 230px;
  height: auto;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .rthreeDesc {
    flex-direction: column;
    text-align: justify;
  }

  .rthreeDesc img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .rthreeInfo {
    flex-direction: column;
    gap: 5px!important;
  }
}

.rthreeInfo {
  display: flex;
  justify-content: space-evenly;
  gap: 50px
}