* {
  box-sizing: border-box;
  font-size: calc(45px - 35px);
  font-family: Inter;
  src: url(../Inter-Regular.ttf);
}

main {
  margin: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-open {
  overflow: hidden;
}

.titlehead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titlecontent {
  height: auto;
  width: 100%;
  max-width: 700px;
}

.titlehead h1 {
  font-size: calc(55px - 35px);
}

.titlehead img {
  width: 150px;
}

.titlehead p {
  margin-top: 30px;
  text-align: justify;
  margin-left: 2vh;
  margin-right: 2vh;
}

.recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.container {
  text-align: center;
}

.container img {
  width: 40%;
  max-width: 220px;
  height: auto;
  border-radius: 30px;
}
